/*
* Georgia Volpe
* 4/18/18
* Girl Develop It Project 
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { 
    background-color: #ffd9d3;
    color: black;
    font-family:Arial, "Times New Roman", sans-serif;
}

/*Girl Develop It Logo*/

header {
	text-align:center;
	background-color:#f96866;
	}
	
h2, h3 {
	font-family:"Apple Chancery", Cursive, Arial;
	color: black;
	font-style: italic;
	text-decoration: underline; 
	}

a:hover, a:focus {
font-size:20px;
color: magenta;

}

.images {
float:right;
}

footer {
font-family: "Times New Roman", Arial; 
}